* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo {
    height: 100vh;
    width: 100vw;

    background-color: black;
    color: white;
}section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
}div {
    margin-right: 20px;
}